@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');

body {
  font-family: 'Palanquin', sans-serif;
}

.font-kalam {
  font-family: 'Kalam', cursive;
}

.sticky-top {
  position: sticky;
  top: 0;
}

.no-select {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.bg-gradient {
  background: rgb(203, 207, 212);
  background: linear-gradient(135deg, rgba(203, 207, 212, 1) 0%, rgba(209, 165, 165, 1) 50%, rgba(203, 207, 212, 1) 100%);
}

/* Hamburger button to close button transition */
/* https://github.com/codeSTACKr/hamburger-animation/blob/master/style.css */
.menu-btn-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.menu-btn {
  width: 2.5rem;
  height: 0.3rem;
  border-radius: 0.5rem;
  background-color: #2d3748;
  transition: all .2s ease-in-out;
}

.menu-btn::before,
.menu-btn::after {
  content: '';
  position: absolute;
  width: 2.5rem;
  height: 0.3rem;
  background-color: #2d3748;
  border-radius: 0.5rem;
  transition: all .2s ease-in-out;
}

.menu-btn::before {
  transform: translateY(-0.7rem);
}

.menu-btn::after {
  transform: translateY(0.7rem);
}

.menu-btn-wrapper.open .menu-btn {
  transform: translateX(-1.76rem);
  background-color: transparent;
}

.menu-btn-wrapper.open .menu-btn::before {
  transform: rotate(45deg) translate(1.25rem, -1.25rem);
}

.menu-btn-wrapper.open .menu-btn::after {
  transform: rotate(-45deg) translate(1.25rem, 1.25rem);
}
